$color01 : #ACACAC; 
$color02 : #666666; 
$color03 : #6292FF; 
$color04 : #3872F4;
$color05 : #FE8464;
$color06 : #02AB1D; 
$color07 : #FEBA2A; 
$color08 : #d4d4d4; 

$bg_color01 : #F5F5F5;
$bg_color02 : #C4C4C4; 

$border01 : 1px solid #DCDCDC; 
$border02 : 1px solid #868686; 
$border03 : 2px solid #868686; 
$border04 : 1px solid #d4d4d4; 

$border_radius01 : 0px;
$border_radius02 : 3px;

.container *  {
    font-size:14px;
    @media screen and (max-width:1080px){
        font-size:14px;
    }
    @media screen and (max-width:768px){
        font-size:14px;
    }
    @media screen and (max-width:480px){
        font-size:13px;
    }
    @media screen and (max-width:400px){
        font-size:13px;
    }
    @media screen and (max-width:350px){
        font-size:13px;
    }
}
.font-size-lg  {
    font-size:17px;
    @media screen and (max-width:1080px){
        font-size:17px;
    }
    @media screen and (max-width:768px){
        font-size:16px;
    }
    @media screen and (max-width:480px){
        font-size:16px;
    }
    @media screen and (max-width:400px){
        font-size:15px;
    }
    @media screen and (max-width:350px){
        font-size:15px;
    }
}
.font-size-md  {
    font-size:14px;
    @media screen and (max-width:1080px){
        font-size:14px;
    }
    @media screen and (max-width:768px){
        font-size:14px;
    }
    @media screen and (max-width:480px){
        font-size:13px;
    }
    @media screen and (max-width:400px){
        font-size:13px;
    }
    @media screen and (max-width:350px){
        font-size:13px;
    }
}
.font-size-sm  {
    font-size:12px;
    @media screen and (max-width:1080px){
        font-size:12px;
    }
    @media screen and (max-width:768px){
        font-size:12px;
    }
    @media screen and (max-width:480px){
        font-size:11px;
    }
    @media screen and (max-width:400px){
        font-size:11px;
    }
    @media screen and (max-width:350px){
        font-size:11px;
    }
}
thead tr th i  {
    font-size:14px !important;
    @media screen and (max-width:1080px){
        font-size:14px !important;
    }
    @media screen and (max-width:768px){
        font-size:13px !important;
    }
    @media screen and (max-width:480px){
        font-size:13px !important;
    }
    @media screen and (max-width:400px){
        font-size:12px !important;
    }
    @media screen and (max-width:350px){
        font-size:12px !important;
    }
}

.v-application--wrap {
    min-height: auto !important;
}

.the_btn{
    text-decoration: none;color: $color02 !important;float: right;line-height: 40px; 
    font-weight: bold;font-size: 13px;
    @media screen and (max-width:1080px){
        font-size: 13px;
    }
    @media screen and (max-width:768px){
        font-size: 12px;
    }
    @media screen and (max-width:480px){
        font-size:12px;
    }
    @media screen and (max-width:400px){
        font-size:11px;
    }
    @media screen and (max-width:350px){
        font-size:11px;
    }
}

.select_date{
    border: $border04; padding:3px 8px !important;
    .v-input__slot{margin: 0;}
    .v-input__slot:before{display: none;}
    .v-input__slot:after{display: none;}
    .v-text-field__details{display: none;}
}

.detail_select_tit{
    color: #000;font-weight: bold;
    line-height: 40px;
}

.text_info{
    .v-text-field__details{display: none;}
    .v-input__slot{
        margin: 0;
        min-height: 40px !important;

    }
}